form{
    margin-top: 10px;
}
.card{
    margin-top:100px;
    width: 50%;
    justify-content: center;
}

.acct-input{
    margin-top: 100px ;
}

.btn-login {
    margin: 20px 200px;
}
.pwd{
    text-align: center;
}

